%ul.messages
  %li.message
    .upper-message
      .upper-message__user 川口
      .upper-message__date 2019/1/14 12:00
    .lower-message chat画面の作成中
  %li.message
    .upper-message
      .upper-message__user 田中
      .upper-message__date 2019/1/14 13:00
    .lower-message がんば！
  %li.message
    .upper-message
      .upper-message__user 西野
      .upper-message__date 2019/1/15 14:00
    .lower-message お腹すいた
